
          <h1 class="page-header">Forms: Registration Form</h1>

          <ul class="nav nav-tabs">
            <li><a href="forms.html">Forms</a></li>
            <li><a href="form-fields.html">Fields</a></li>
          </ul>
          <br>
          
          <form role="form">

            <div class="form-group">
              <label for="firstname">First Name:</label><br>
              <input type="text" name="firstname" size="35" placeholder="First Name">
              <span style="font-size: 2em; margin-left: 150px;" class="glyphicon glyphicon-pencil"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-remove"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-menu-hamburger"></span>  
            </div>
            <div class="form-group">
              <label for="firstname">Last Name:</label><br>
              <input type="text" name="lastname" size="35" placeholder="Last Name">
              <span style="font-size: 2em;margin-left: 150px;" class="glyphicon glyphicon-pencil"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-remove"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-menu-hamburger"></span>  
            </div>
            <div class="form-group">
              <label for="dob">Date of birth:</label><br>
              <input type="date" name="bday" style="width: 265px;">
              <span style="font-size: 2em;margin-left: 150px;" class="glyphicon glyphicon-pencil"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-remove"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-menu-hamburger"></span>  
            </div>
            <div class="form-group">
              <label for="dob">Gender:</label><br>
              <select name="gender" style="width: 265px;">
                <option value="volvo">Male</option>
                <option value="saab">Female</option>
              </select>
              <span style="font-size: 2em;margin-left: 150px;" class="glyphicon glyphicon-pencil"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-remove"></span>
              <span style="font-size: 2em;" class="glyphicon glyphicon-menu-hamburger"></span>
            </div>

            <div class="form-group">
              <label for="dob">Roles:</label><br>
              <div style="float: left;">
                <form action="">
                <input type="checkbox" name="admin" value="Bike">Admin<br>
                <input type="checkbox" name="student" value="Car">Student<br>
                <input type="checkbox" name="user" value="Car">User<br>
                </form>
              </div>
              
              <div style="margin-left: 418px;">
                <span style="font-size: 2em;" class="glyphicon glyphicon-pencil"></span>
                <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
                <span style="font-size: 2em;" class="glyphicon glyphicon-remove"></span>
                <span style="font-size: 2em;" class="glyphicon glyphicon-menu-hamburger"></span>
              </div>
            
            </div>
            <br>

            <div class="form-group">
              <label for="dob">License Agreement:</label><br>
              <div style="float: left;">
                <form action="">
                  <input type="radio" name="license" value="yes"> Yes<br>
                  <input type="radio" name="license" value="no"> No<br>
                </form>
              </div>
              
              <div style="margin-left: 418px;">
                <span style="font-size: 2em;" class="glyphicon glyphicon-pencil"></span>
                <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
                <span style="font-size: 2em;" class="glyphicon glyphicon-remove"></span>
                <span style="font-size: 2em;" class="glyphicon glyphicon-menu-hamburger"></span>
              </div>
            
            </div>

            <hr>

            <div class="form-group">
              <label for="dob">Add New Field:</label><br>
              <div style="float: left;">
                <select name="newfield" style="width: 265px;">
                  <option value="singlelinetext">Single Line Text</option>
                  <option value="date">Date</option>
                  <option value="dropdown">Dropdown</option>
                  <option value="checkbox">Checkboxes</option>
                  <option value="radio">Radio Buttons</option>
                  <option value="paragraph">Paragraph Text Field</option>
                </select>
              </div>
              
              <div style="margin-left: 418px;">
                <span style="font-size: 2em;" class="glyphicon glyphicon-plus"></span>
              </div>
            
            </div>
            
          </form>

