<h1 class="page-header">
  Welcome
  <div ng-show="ifLoggedIn()">Dear {{getFirstName()}} !</div>
</h1>


<div>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis tempor sem. Sed ipsum odio, auctor vitae orci vel, condimentum auctor mi. Integer lobortis elit in lorem commodo, non porta est posuere. Phasellus pulvinar dui turpis, in mattis metus mattis sit amet. Fusce tincidunt libero elit, sit amet ullamcorper nulla tincidunt nec. Cras magna diam, dictum at ante eu, interdum lacinia massa. Vivamus mattis ut mi quis iaculis. Vivamus ac quam metus. Sed egestas eu leo a gravida. Aenean nec viverra tortor. Duis semper id ligula ullamcorper viverra. Curabitur tempus tellus eget vulputate sagittis. Praesent ac nunc et mi laoreet volutpat. Donec vestibulum aliquam metus, non malesuada velit ullamcorper non. In sed volutpat nunc. Aliquam et massa pretium, mollis eros at, tempus nisi.
</div>