<div id="page-wrapper">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">
        Welcome to Tutor University !
      </h1>
    </div>
    <!-- /.col-lg-12 -->
  </div>
  <!-- /.row -->

  <!-- /.row -->
  <ul class="bxslider" style="width: 200px; height: 200px;">
    <li><img src="images/pic2.jpg" /></li>
    <li><img src="images/pic5.jpg" /></li>
    <li><img src="images/pic3.jpg" /></li>
  </ul>

  <!-- HTML Codes by Quackit.com -->
  <span style="font-family:Garamond;font-size:48px;font-style:normal;font-weight:bold;text-decoration:none;text-transform:none;color:000000;">
    Find a great tutor in your area!
    UniversityTutor.com is a faster, easier way to find a tutor. We have 103,613 tutors in 8,438 cities all over the world you can contact for FREE!
  </span>
  <!-- /.row -->
</div>


<script>
  //initiate slider
  $('.bxslider').bxSlider({
    responsive : true,
    adaptiveHeight: true,
    mode: 'fade',
    captions: true
  });
</script>